## Sorting values on Pandas

Sorting values can help you select data that is most interesting to you.

In [1]:
import pandas as pd
import numpy as np

We've explored two ways to do this using ``for`` loops:
* sorting values from maximum to minimum
* only printing data that is greater/lesser than some set value

I'm going to introduce two functions that would be helpful in getting you there.

**Sort values from maximum to minimum:**

pandas_dataframe.**sort_values**(by, ascending)
* by = name(s) of column to sort
* ascending = True: values will be in ascending order
* ascending = False: values will be in descending order

In [2]:
#Some random data to play around with the function
test_data = pd.DataFrame({'Jan':np.random.rand(50)},index = range(2000, 2050))
test_data.head()

           Jan
2000  0.688484
2001  0.941431
2002  0.797405
2003  0.640476
2004  0.113581

Let's sort the data from lowest to highest with the respect to the Jan column.

In [3]:
test_data.sort_values(by = 'Jan',ascending = True)

           Jan
2018  0.020046
2039  0.026553
2026  0.045670
2044  0.102077
2004  0.113581
2046  0.136272
2024  0.157256
2017  0.164896
2008  0.183795
2007  0.307540
2012  0.322467
2010  0.329639
2020  0.362642
2034  0.363338
2009  0.387709
2038  0.408033
2015  0.423977
2022  0.429389
2031  0.435555
2041  0.455764
2033  0.464982
2040  0.492487
2027  0.494186
2028  0.517197
2013  0.526295
2014  0.591320
2049  0.603623
2030  0.611260
2025  0.622001
2003  0.640476
2005  0.657872
2000  0.688484
2037  0.698189
2016  0.709003
2032  0.722189
2036  0.750675
2011  0.755046
2043  0.768020
2047  0.774336
2002  0.797405
2048  0.806915
2045  0.848497
2029  0.866553
2023  0.871500
2042  0.917259
2006  0.920115
2001  0.941431
2035  0.977870
2019  0.986521
2021  0.992454

Now, sort the data from highest to lowest.

In [4]:
test_data.sort_values(by = 'Jan',ascending = False)

           Jan
2021  0.992454
2019  0.986521
2035  0.977870
2001  0.941431
2006  0.920115
2042  0.917259
2023  0.871500
2029  0.866553
2045  0.848497
2048  0.806915
2002  0.797405
2047  0.774336
2043  0.768020
2011  0.755046
2036  0.750675
2032  0.722189
2016  0.709003
2037  0.698189
2000  0.688484
2005  0.657872
2003  0.640476
2025  0.622001
2030  0.611260
2049  0.603623
2014  0.591320
2013  0.526295
2028  0.517197
2027  0.494186
2040  0.492487
2033  0.464982
2041  0.455764
2031  0.435555
2022  0.429389
2015  0.423977
2038  0.408033
2009  0.387709
2034  0.363338
2020  0.362642
2010  0.329639
2012  0.322467
2007  0.307540
2008  0.183795
2017  0.164896
2024  0.157256
2046  0.136272
2004  0.113581
2044  0.102077
2026  0.045670
2039  0.026553
2018  0.020046

**Find all values that meet some condition:**

pandas_dataframe.**where**(cond)
* cond: save all values that meet the condition and replaces others with NaN

Say we want all values that are greater than 0.5

So, our condition is: ``all values >= 0.5``

In [ ]:
cond = test_data >= 0.5
test_data.where(cond)

Set a new condition to apply to the test data.

In [6]:
cond = test_data >= 0.25
test_data.where(cond)

           Jan
2000  0.688484
2001  0.941431
2002  0.797405
2003  0.640476
2004       NaN
2005  0.657872
2006  0.920115
2007  0.307540
2008       NaN
2009  0.387709
2010  0.329639
2011  0.755046
2012  0.322467
2013  0.526295
2014  0.591320
2015  0.423977
2016  0.709003
2017       NaN
2018       NaN
2019  0.986521
2020  0.362642
2021  0.992454
2022  0.429389
2023  0.871500
2024       NaN
2025  0.622001
2026       NaN
2027  0.494186
2028  0.517197
2029  0.866553
2030  0.611260
2031  0.435555
2032  0.722189
2033  0.464982
2034  0.363338
2035  0.977870
2036  0.750675
2037  0.698189
2038  0.408033
2039       NaN
2040  0.492487
2041  0.455764
2042  0.917259
2043  0.768020
2044       NaN
2045  0.848497
2046       NaN
2047  0.774336
2048  0.806915
2049  0.603623

### Return to the pandas review notebook (*pandas_review_name.ipynb*) and test out these functions on your ENSO index!